language: c
cache: ccache
compiler: gcc
sudo: false
addons:
  apt:
    packages:
      - cmake
      - mingw-w64-i686-dev
      - binutils-mingw-w64-i686
      - gcc-mingw-w64-i686
      - g++-mingw-w64-i686
      - p7zip-full
      - gcc-multilib
      - g++-multilib
      - libx11-dev:i386
      - libxext-dev:i386
      - x11-utils
      - libgl1-mesa-dev
      - libasound-dev
      - zlib1g:i386
      - libstdc++6:i386
git:
  depth: 50
  submodules: true
jdk:
    - oraclejdk8
os:
    - linux
    - osx
  
before_script:
    - sh scripts/travis_${TRAVIS_OS_NAME}_deps.sh
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export ANDROID_HOME=$PWD/android-sdk-linux; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export PATH=${PATH}:$PWD/apache-ant-1.10.6/bin:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools:$PWD/android-ndk; fi
    - sh scripts/travis_common_deps.sh
script:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh scripts/build_android_engine.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh scripts/build_mingw_engine.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh scripts/build_portable_linux_engine.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx"   ]]; then sh scripts/build_osx_engine.sh; fi
after_script:
    - cd ${TRAVIS_BUILD_DIR}
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ccache --show-stats > ccache_stats.log; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh scripts/travis-deploy.sh travis xash3d-mingw.7z xash3d-linux.7z xash3d-generic.apk android-debug-symbols.txz ccache_stats.log; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh scripts/travis-upload.sh xash3d-mingw.7z xash3d-linux.7z xash3d-generic.apk; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx"   ]]; then sh scripts/travis-deploy.sh z_apple xash3d-osx.tar.bz2; fi
